<h1>{{ name }}</h1>
<hr>

{% if session.username %}

<b>Create a new topic:</b>

<form action="/new_post" method="POST">
    <p>Title: <br>
    <textarea name="title" rows="1" cols="40"></textarea></p>
    <p>Message:<br>
    <textarea name="content" rows="5" cols="40"></textarea> 
    <br>
    <input type="hidden" name="name" value="{{ name }}">
    <input type="submit" value="Post"></p>
    </form>

{% else %}

Login to create threads

{% endif %}

{% for post in posts %}
<h2><a href="/topic/{{ post.id }}">{{ post.title }}</a></h2>
<p><small>Created at: {{ post.created.strftime("%Y-%m-%d %H:%M:%S") }} by <b>{{ post.username }}</b></small></p>
<hr>
{% endfor %}