{% extends "Layout.html" %}
{% block title %}Post{% endblock %}
{% block content %}
<hr>

<h1>{{ title.title }}</h1>

{% if image.link %}
<img src="{{image.link}}" width="500" height="500">
<br>
<p>Image source:<i>{{image.link}}</i></p>

{% if session.admin == False %}
{% if session.userid == title.user_id%}

<form action="/delete/picture/{{ image.id }}">
    <input type="submit" value="Delete">
</form>

{% endif %}
{% endif %}

{% if session.admin == True %}
<form action="/delete/picture/{{ image.id }}">
    <input type="submit" value="Delete">
</form>
{% endif %}
{% endif %}

{% if session.username %}
<hr>
<p class="center">Reply: </p>
<form action="reply" method="POST" class="center">
    <textarea name="content" rows="5" cols="40"></textarea> 
    <input type="hidden" name="id" value="{{ title.id }}">
    <br>
    <input type="submit" value="Post"></p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<hr>
{% else %}
<div class="center">
    <hr>
<a href="/">Login</a> to leave a reply
<hr>
</div>
{% endif %}

{% for message in messages %}
{% if message.content != None %}
<p class="message">{{ message.content }}</p>
<br>
<i><small>Posted at: {{ message.created.strftime("%Y-%m-%d %H:%M:%S") }} by <b>{{ message.username }}</b></small></i>
{% if session.admin == false %}
{% if session.userid == message.user_id %}
<form action="/delete/messages/{{ message.id }}">
    <input type="submit" value="Delete">
{% endif %}
{% endif %}

{% if session.admin == True %}
<form action="/delete/messages/{{ message.id }}">
    <input type="submit" value="Delete">
</form>
<br>
{% endif %}

<hr>
{% endif %}

{% endfor %}

{% endblock %}