{% extends "layout.html" %}
{% block title %}Create user{% endblock %}
{% block content %}

<h1>Create a new account</h1>
<hr>
<form action="/createuser" method="POST">
    <p>Username:<br>
    <input type="text" name="username"></p>

    <p>Password:<br>
    <input type="password" name="password"></p>

    Admin:<br>
    <input type="radio" name="admin" id="value1" value="True"> True </input>
    <input type="radio" name="admin" id="value2" value="False" checked> False </input><br>

    <input type="submit" value="Create">
    <br><hr>
</form>

{% endblock %}